<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}">
</head>
<link th:href="@{/css/myCourse.css}" rel="stylesheet" type="text/css" />
<body class="sb-nav-fixed">
<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:replace="~{/include/header.html :: fragment-header}" />
    <div class="container-fluid" style="padding-left: 0px !important; padding-right:0px !important">
        <p class="title-wrap" style="font-weight: bold;">학생정보시스템</p>
        <div style="width: 100%; border-top: 1px solid rgb(221, 221, 221); ">
            <div class="pl-3 mt-1 grid-1200">
                <p style="font-size: 12px;">학생정보시스템 》&nbsp;정보관리 》&nbsp;<span style="font-weight: bold; font-size: 12px;">학사일정조회</span></p>
                <form action="${pageContext.request.contextPath}/sched" method="POST">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <ol class="breadcrumb mb-2 p-3" style="background: #eaf6ff; border: 1px solid #81c0f0;">
                        <li class="breadcrumb-item active" style="font-size: 12px; color: #222;">
                            학과
                            <select style="height: 23px; width: 150px; margin-left: 10px; margin-right: 20px;" name="month" disabled="disabled">
                                <option th:value="${info.department_name}" th:text="${info.department_name}">${info[0].department_name}</option>
                            </select>
                            학년
                            <select style="height: 23px; width: 150px; margin-left: 10px; margin-right: 20px;" name="month" disabled="disabled">
                                <option th:value="${info.student_grade}" th:text="${info.student_grade}+'학년'">${info[0].student_grade}학년</option>
                            </select>
                            기수
                            <select style="height: 23px; width: 150px; margin-left: 10px; margin-right: 20px;" name="month" disabled="disabled">
                                <option th:value="${info.student_grades}" th:text="${info.student_grades}+'학기'">${info[0].student_grades}학기</option>
                            </select>
                            <!-- <button type="submit" style="border: 1px solid #222; width: 50px;"> 조회 </button> -->
                        </li>
                    </ol>
                </form>

                <p class="mb-2 mt-4" style="font-weight: bold; color: #222;">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true" style="color: #0476D9;"></i> 학생기초정보
                </p>
                <div class="breadcrumb mb-2 p-3" style="background: #FFF; border: 3px solid #ddd;">
                    <div class="d-flex">
                        <div class="d-flex">
                            <div class="info_first_box">학번</div>
                            <div class="info_box" th:text="${info.student_idx}">${info[0].student_idx}</div>
                        </div>
                        <div class="d-flex">
                            <div class="info_first_box" style="margin-left: 10px">성명</div>
                            <div class="info_box" th:text="${info.student_name}">${info[0].student_name}</div>
                        </div>
                        <div class="d-flex">
                            <div class="info_first_box" style="margin-left: 10px">생년월일(성별)</div>
                            <div class="info_box" th:text="${info.student_birthdate} + '(' + ${info.student_gender} + ')'">${info[0].student_birthdate}(${info[0].student_gender})</div>
                        </div>
                        <div class="d-flex">
                            <div class="info_first_box" style="margin-left: 10px">입학일자</div>
                            <div class="info_box" th:text="${info.student_entrancedate}">${info[0].student_entrancedate}</div>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="d-flex">
                            <div class="info_first_box">소속 및 학년</div>
                            <div class="info_box" style="width: 284px;" th:text="${info.department_name}">${info[0].department_name}</div>
                        </div>
                        <div class="d-flex">
                            <div class="info_box" th:text="${info.student_grade} + '학년'">${info[0].student_grade}학년</div>
                        </div>
                        <div class="d-flex">
                            <div class="info_first_box" style="margin-left: 10px">지도교수</div>
                            <div class="info_box" th:text="${info.professor_name}">${info[0].professor_name}</div>
                        </div>
                        <div class="d-flex">
                            <div class="info_first_box" style="margin-left: 10px">졸업일자</div>
                            <div class="info_box" th:text="${info.student_graduation_dete}">${info[0].student_graduation_dete}</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <p class="mb-2" style="font-weight: bold; color: #222;">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true" style="color: #0476D9;"></i> 수강내역
                        <span class="ml-5" style="margin-left: 50px;">신청학점 : <c:out value="${total}"/></span>
                        <span class="ml-5">신청과목수 : <span th:text="${#lists.size(lists)}"></span></span>
                        <span class="ml-5"><button class="info_box insertBtn btn" onclick="openPop()" style="width: 100px;">강의시간표</button></span>
                    </p>
                </div>

                <table style="width: 100%;" class="ctable">
                    <thead>
                    <tr>
                        <td width="10%">NO</td>
                        <td width="20%">과목명</td>
                        <td width="10%">이수구분</td>
                        <td width="10%">학점</td>
                        <td width="30%">강의실(시간)</td>
                        <td width="10%">교수</td>
                        <td width="10%"></td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list, listState : ${lists}">
                            <td th:text="${list.subject_idx}">${list.subject_idx}</td>
                            <td th:text="${list.subject_name}">${list.subject_name}</td>
                            <td th:text="${list.subject_state}">${list.subject_state}</td>
                            <td th:text="${list.subject_grades}">${list.subject_grades}</td>
                            <td>
                                <span th:text="${list.subject_classroom}"></span>
                                (
                                <th:block th:each="list3, list3State : ${lists3}">
                                    <span th:if="${list.subject_idx == list3.subject_detail_subject_idx}" th:text="${list3.subject_detail_week }"></span>
                                    <span th:if="${list.subject_idx == list3.subject_detail_subject_idx}" th:text="${list3.subject_detail_period_total }"></span>
                                </th:block>
                                )
                            </td>
                            <td th:text="${list.professor_name}">${list.professor_name}</td>
                            <td><button class="info_box insertBtn btn" id="plusBtn1" th:onclick="deleteBtn([[${list.courseregist_idx}]]);">삭제</button></td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(lists)}" class="zeroTxt">
                            <td colspan="7" style="background-color: #fff; height: 50px; border-right: 0px;">수강 신청한 과목이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/myscripts.js}"></script>
<script>


    function openPop(){
        var popup = window.open('/schedule', '', 'width=730px,height=1000px,scrollbars=no');
    }
    if(window.location.search == "?success"){
        alert("등록이 완료되었습니다.")
        location.href='/courseRegist'
    }else if(window.location.search == "?error"){
        alert("등록오류! 잠시 후 다시 시도해주세요")
        location.href='/courseRegist'
    }


    //저장 버튼 클릭시
    $(".insertBtn2").click(function() {
        if(arr.length == 0){
            alert("수강 신청할 과목을 담아주세요")
        }else{
            if(confirm("수강 신청을 진행하시겠습니까?")){
                $('#courseregist').submit();
            }
        }
        /* if(confirm("수강 신청을 진행하시겠습니까?")){

        } */
    })
    function deleteBtn(e) {
        if(confirm("삭제 하시겠습니까?")) {
            location.href = '/courseDelete/' + e
        }
    }
</script>
</html>